/* Estilos generales del header */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid var(--divider);
}

nav > h2 {
  color: rgb(209, 155, 209);
  font-family: cursive;
}

nav > ul {
  display: flex;
  gap: 3rem;
}

nav a {
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: var(--highlight);
}

/* Menú desplegable en la versión móvil */
#menuToggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

#menuToggle div {
  width: 30px;
  height: 3px;
  background-color: var(--primary-dark);
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li {
  display: block;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  /* Cambiar la disposición del nav */
  nav {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  /* Reducción del tamaño de la imagen */
  nav > img {
    width: 120px;
    height: 120px;
  }

  /* Menú de navegación oculto */
  nav > ul {
    display: none;
    width: 100%;
    text-align: center;
  }

  /* Mostrar menú cuando se hace clic en el icono hamburguesa */
  nav > ul.show {
    display: block;
  }

  /* Cambiar la visualización del menú hamburguesa */
  #menuToggle {
    display: flex;
  }
  
  #themeBtn {
    transform: scale(1.2);
  }

  /* Estilo para los enlaces del menú desplegable */
  nav ul li {
    padding: 1rem 0;
    width: 100%;
  }
}